<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-multicam-transfer"
    version="1.0.0">

    <name>MultiCam Transfer</name>
    <description>SHA-256 streaming et téléchargement HTTP reprenable hors bridge JS (fichier ou SAF).</description>
    <author>MultiCam</author>
    <license>MIT</license>
    <keywords>cordova,transfer,sha256,range,http,download</keywords>

    <platform name="android">
        <js-module src="www/MultiCamTransfer.js" name="MultiCamTransfer">
            <clobbers target="MultiCamTransfer" />
        </js-module>

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MultiCamTransfer">
                <param name="android-package" value="fr.emmanuel.multicam.transfer.MultiCamTransfer" />
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
        </config-file>

        <framework src="androidx.documentfile:documentfile:1.0.1" />

        <source-file src="src/android/MultiCamTransfer.java" target-dir="src/fr/emmanuel/multicam/transfer" />
    </platform>

</plugin>
